@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}


:root{
    --bg-color: #1f242d;
    --second-bg-color: #2d323d;
    --text-color: #fff;
    --main-color-cel: cadetblue;
}

/* Estilos para el tema claro */
.light-theme {
    /* Estilos para el tema claro */
    --bg-color: #ffffff;
    --second-bg-color: #f1f1f1;
    --text-color: #000000;
    --main-color-cel: cadetblue;
}

/* Estilos para el tema oscuro */
.dark-theme {
    /* Estilos para el tema oscuro */
    --bg-color: #1f242d;
    --second-bg-color: #2d323d;
    --text-color: #ffffff;
    --main-color-cel: cadetblue;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 09% 2rem;
}

#floatingDiv {
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 2;
}

#cambiarModoBtn:hover{
    cursor: pointer;
}

#cambiarTextoBtn:hover{
    cursor: pointer;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0,0,0,.2) ;
}

/* Animacion para el modo */

@keyframes imageAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.modo-mode-button img {
    animation: imageAnimation 1s ease-in-out;
}

.light-mode-button img {

    animation: imageAnimation 1s ease-in-out;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slide-right .2s ease forwards;
}

.navbar{
    margin-right: 10%;
}

.navbar a{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slide-nav 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color-cel);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slide-botton 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 3rem;
    animation: slide-top 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: var(--main-color-cel);
}

.multi-texto h3,
.multi-texto span {
    display: inline;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img img{
    width: 35vw;
    animation: floatImg 4s ease-in-out infinite;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color-cel);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color-cel);
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slide-left .6s ease forwards;
    animation-delay: calc(.1s * var(--i));
    
}

.social-media a:hover{
    background: var(--main-color-cel);
    color: var(--bg-color);
    box-shadow: 0 0 2rem var(--main-color-cel);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    background: var(--main-color-cel);
    box-shadow: 0 0 10px var(--main-color-cel);
    border-radius: 4rem;
    transition: .5s;
    letter-spacing: .1rem;
}

.btn:hover{
    box-shadow: none;
    cursor: pointer;
}

/*Keyframes*/
@keyframes slide-right {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-nav {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-botton {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-left {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatImg {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}


/*About Me*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.heading span{
    color: var(--main-color-cel);
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills h2{
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-box{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 2.5rem;
}

.img-skill{

    display: block;
    align-items: center;
    text-align: center;
}




/*Fin Skills*/

/* --------------------------------------------------------------------------------------------------- */

/* Inicio Porfolio Works */

.porfolio{
    background: var(--second-bg-color);
}

.porfolio h2{
    margin-bottom: 4rem;
}

.porfolio-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 2.5rem;

}

.porfolio-container .porfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color-cel);
    overflow: hidden;
    display: flex;
    transition: .5s ease;
}

.porfolio-box{
    height: 200px;
}

.porfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.porfolio-box:hover img{
    transform: scale(1.02);
    /* box-shadow: 0 0 2rem var(--main-color-cel); */
}

.porfolio-box .porfolio-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color-cel));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.porfolio-box:hover .porfolio-layer{
    transform: translateY(0);
}

.porfolio-layer h4{
    font-size: 3rem;
}

.porfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.porfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color-cel);
    border-radius: 50%;

}

.porfolio-layer a i {
    font-size: 2.5rem;
    color: var(--bg-color);
    transition: .5s;
}

/* Fin Porfolio Works */

/* --------------------------------------------------------------------------------------------------- */

/* Inicio Contacto */

.contacto h2 {
    margin-bottom: 3rem;
}

.contacto form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contacto form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacto form .input-box input,
.contacto form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: .2rem solid var(--main-color-cel);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    transition: .5s;
}

.contacto form .input-box input{
    width: 49%;
}

.contacto form textarea{
    width: 100%;
    min-height: 15rem;
    resize: none;
}

.contacto form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/* fin contacto  */

/* --------------------------------------------------------------------------------------------------- */

/* Inicio Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 9%;
    background: var(--second-bg-color);
    
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color-cel);
    border-radius: .8rem;
    transition: .5s;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color-cel);
    
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}

.footer .footer-text span{
    color: var(--main-color-cel);
}

.mail:hover{
    color: var(--main-color-cel);
}

/* Fin Footer */

/* --------------------------------------------------------------------------------------------------- */


/* #floatingDiv {
    position: fixed;
    right: 1rem;
    top: 2rem;
    z-index: 2;
}

#cambiarModoBtn:hover{
    cursor: pointer;
}

#cambiarTextoBtn:hover{
    cursor: pointer;
} */


/* breakpoints */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services{
        padding-bottom: 7rem;
    }

    .porfolio h2{
        margin-bottom: 7rem;
    }


    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
        margin-right: 8rem;

    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }


    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        animation: slide-nav .1s ease forwards;
        animation-delay: calc(.1s * var(--i));
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.3rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 75vw;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
        
    }

    .skill-box{
        grid-template-columns: repeat(2, 1fr);
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .porfolio h2{
        margin-bottom: 3rem;
        
    }

    .porfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    #floatingDiv{
        right: 30%;
        top: 2rem;
        transform: translateX(-70%);
    }
}

@media (max-width: 617px){
    .porfolio-container{
        grid-template-columns: 1fr;
        margin: 5%;
    }
    .skill-box{
        grid-template-columns: 1fr;
        margin: 5%;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contacto form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}



.light-mode-button {
    background: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    width: 50px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
}

.light-mode-button:focus {
    outline: none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top: .2rem;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: 0.3s;
}


