
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10% 0 10%;
  }
  
  .modal {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .modal-content {
    margin-top: 20px;
  }
  